// 遍历以 $ 开头
// lighten
// mixin 可以写默认值
// & 表示自身
// tabindex tab 按键的顺序
// :not() 选择器
// [] 属性选择器

// 保证可以使用的字体
// $font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
//   "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
//   "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// 等宽字体
// $font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
//   "Liberation Mono", "Courier New", monospace !default;

// 基础字体
// $font-family-base: $font-family-sans-serif !default;

// normalize.css

// 遍历
// $theme-colors: (
//   "primary": $primary,
//   "secondary": $secondary,
//   "success": $success,
//   "info": $info,
//   "warning": $warning,
//   "danger": $danger,
//   "light": $light,
//   "dark": $dark,
// );

// @each $key, $val in $theme-colors {
//   .icon-#{$key} {
//     color: $val;
//   }
// }
//
// jest 成功检测出 classnames 变量名写错
// not 不是方法

@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-style(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 7.5%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color
) {
  color: $color;
  border-color: $border;
  background-color: $background;
  &:hover {
    color: $hover-color;
    border-color: $hover-border;
    background-color: $hover-background;
  }
  &:focus,
  &.focus {
    color: $hover-color;
    border-color: $hover-border;
    background-color: $hover-background;
  }
  &:disabled,
  &.disabled {
    color: $hover-color;
    border-color: $hover-border;
    background-color: $hover-background;
  }
}
